<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    
    <a class="navbar-brand" href="/Home"><%= process.env.APPLICATION_NAME ?? "Koa Passport Template" %></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Home">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <% if (user) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= user.display_name %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href=<%= `/Profile/${user._id}` %>>
                            <i class="fas fa-address-card"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="/Account/Logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
    
</nav>
  