<h1>Register</h1>
<%- errors.length > 0 ? include("../Shared/_Error", {errors: errors}) : null %>

<form class="form-group" action="/Account/Register" method="POST">
    <div class="form-group">
        <label for="username" class="bmd-label-floating">Username</label>
        <input class="form-control" type="text" name="username" id="username" required />
    </div>
    <div class="form-group">
        <label for="email" class="bmd-label-floating">Email</label>
        <input class="form-control" type="email" name="email" id="email" required />
    </div>
    <div class="form-group">
        <label for="password" class="bmd-label-floating">Password</label>
        <input class="form-control" type="password" name="password" id="password" required />
    </div>
    <div class="form-group">
        <label for="confirm-password" class="bmd-label-floating">Confirm Password</label>
        <input class="form-control" type="password" name="confirm-password" id="confirm-password" required />
    </div>

    <a class="btn btn-raised btn-secondary" href="/Account/Login">
        <i class="fas fa-arrow-left"></i>
        Return to Login
    </a>
    <button class="btn btn-raised btn-primary" type="submit" id="local-registeration">
        <i class="fas fa-user-edit"></i>
        Register
    </button>
</form>