<%- include("../Shared/_Navbar", { user: user }); -%>
<div class="page-container">
    <h1>Profile</h1>
    <div><b>Username:</b> <%= user.username %></div>
    <div><b>Display Name:</b> <%= user.display_name %></div>
    <div><b>Email:</b> <%= user.email %></div>
</div>