<%- include("../Shared/_Navbar", { user: user }); -%>
<div class="page-container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= process.env.APPLICATION_NAME ?? "Koa Passport Template" %></h1>
        <p class="lead">This is a basic web application utilising passport and koa authentication methods.</p>

        <hr class="my-4">

        <p>Use the link below to view more informtaion on this project.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" 
                href="https://gitlab.com/cardinal-systems/personal-development-projects/koa-passport-template/-/wikis/home" 
                role="button"
            >
                Learn more
            </a>
        </p>
      </div>
</div>